body, html {
	margin: 0;
	color: #333;
	height: 100%;
	font-size: 16px;
	min-width: 1000px;
	background-color: #f2f3f5;
    line-height: 1.42857143;
	font-family: Arial,Microsoft YaHei,Microsoft Sans Serif,Microsoft SanSerf,\\5FAE\8F6F\96C5\9ED1!important;
}

a {
	cursor: pointer;
	color: #3af;
}

.content-guide {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

.guide-container {
	width: 1000px;
	height: 60px;
	vertical-align: middle;
	margin: 0 auto;
	text-align: right;
	line-height: 60px;
}

.menu-container {
	float: left;
}

.menu-container .menu-logo {
	width: 35px;
	margin-top: -6px;
	vertical-align: middle;
}

.menu-container .menu-item {
	color: #333;
	text-decoration: none;
	font-size: 16px;
}

.menu-container .menu-item:hover {
	color: #3af;
}

.content-guide .guide-item {
	color: #333;
	font-size: 16px;
	margin-right: 30px;
	display: inline-block;
	text-decoration: none;
}

.content-guide .guide-item:last-child {
	margin-right: 0;
}

.content-guide .guide-item:hover {
	color: #3af;
}

.content-guide .active {
	color: #3af;
	font-weight: bold;
	position: relative;
}

.content-guide .active:after {
	content: '';
	background-color: #3af;
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
}

.main {
	width: 1200px;
	min-height: 80%;
	margin: 0 auto;
	background: #fff;
	display: flow-root;
}

.area-zswd {
	width: 730px;
	padding: 30px;
	margin: 0 auto;
	border: 1px solid #3af;
	border-radius: 10px;
}

.zswd-row {
	width: 100%;
	height: 100%;
	color: #666;
	font-size: 16px;
	line-height: 30px;
	display: inline-flex;
	margin: 12px 0;
}

.zswd-left {
	color: #fff;
	float: left;
	height: 30px;
	min-width: 30px;
	font-size: 12px;
	text-align: center;
	background-color: #3af;
	border-radius: 15px;
	padding: 0 15px;
}

.zswd-right {
	float: left;
	margin-left: 20px;
	text-align:justify;
	word-wrap:break-word;
	word-break:break-all;
}

.wrapper {
	height: 30px;
	line-height: 30px;
}

.radio-box {
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	background: #3af;
	
	border-radius: 100%;
	vertical-align: middle;
	margin-left: 15px;
}

.radio-box input {
	position: absolute;
	top: -2px;
	left: -4px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 100;
	cursor: pointer;
}

.radio-box span {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	background: #fff;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -5px;
	z-index: 1;
}

.wrapper label {
	cursor: pointer;
}

.wrapper .radio-box:first-child {
	margin-left: 0;
}

.radio-box input[type="radio"] {
	background: #fff;
}

.radio-box input[type="radio"]:checked {
	background: #3af;
}

.radio-box input[type="radio"] + span {
	opacity: 0;
}

.radio-box input[type="radio"]:checked + span {
	opacity: 1;
}


