.dialog-area {
	width: 360px;
	position: fixed;
	top: calc(50% - 160px);
	left: calc(50% - 180px);
	z-index: 1000;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 50px rgba(0,0,0,.3);
	color: #3a3a3a;
}

.dialog-area-title {
	color: rgb(64,158,255);
    padding: 0 16px;
    height: 38px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 4px 4px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.dialog-area-close {
	height: 38px;
    width: 38px;
    text-align: center;
    line-height: 42px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    user-select: none;
    border-top-right-radius: 4px;
}

.dialog-area-close:hover {
	color: #fff;
	background: rgb(64,158,255);
}

.dialog-area-content {
	padding: 24px 24px 14px 24px;
	font-size: 15px;
}

.dialog-area-btn {
	position: relative;
    display: block;
    width: 66px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    float: right;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    user-select: none;
}

.btn-confirm {
    margin: 5px 5px 12px 0;
    background: rgb(249,128,119);
}

.btn-cancel {
    margin: 5px 10px 10px 5px;
    background: rgb(97,213,109);
}

.toast-area {
	width: 600px;
	padding: 16px;
	position: fixed;
	text-align: center;
	top: 36px;
	left: calc(50% - 300px);
	font-size: 14px;
	z-index: 1200;
	color: #fff;
	border-radius: 4px;
	display: none;
}

.toast-success {
	background-color: rgb(64,158,255);
}

.toast-error {
	background-color: rgb(249,128,119);
}

.toast-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
	font-weight: normal;
	width: 22px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
	border-top-right-radius: 4px;
}

.toast-close:hover {
	background-color: rgb(64,158,255);
}

.toast-close:active {
	background-color: rgba(64,158,255,.9);
}

