body, html {
	margin: 0;
	color: #222;
	height: 100%;
	font-size: 16px;
	min-width: 1000px;
	background: #fff;
    line-height: 1.42857143;
	font-family: -apple-system,BlinkMacSystemFont,SF UI Text,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
}

/* 顶部导航栏 */
.content-guide {
	width: 100%;
	min-width: 1200px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
}

.guide-container {
	width: 1000px;
	height: 60px;
	vertical-align: middle;
	margin: 0 auto;
	text-align: right;
	line-height: 59px;
}

.menu-container {
	float: left;
}

.menu-container .menu-logo {
	width: 36px;
	margin-top: -10px;
	vertical-align: middle;
}

.menu-container .menu-item {
	color: rgb(64,158,255);
	font-size: 20px;
}

.content-guide .guide-item {
	color: rgb(181,182,184);
	font-size: 16px;
	margin-right: 30px;
	display: inline-block;
	text-decoration: none;
}

.content-guide .guide-item:last-child {
	margin-right: 0;
}

.content-guide .guide-item:hover {
	color: #409eff;
}

.content-guide .active {
	color: #409eff;
	position: relative;
}

.content-guide .active:after {
	content: '';
	background-color: #409eff;
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
}

/* 正文 */
.main {
	width: 1200px;
	margin: 0 auto;
	padding-top: 20px;
	display: flow-root;
	background: #fff;
	min-height: 50%;
	transition: hieght 10.3s;
}

/* 底部信息栏 */
.footer-wrapper-part {
	width: 100%;
	height: 220px;
	min-width: 1200px;
	background: #fff url(/image/footer-bg.png) bottom no-repeat;
}

.footer-wrapper {
	min-width: 1200px;
	background: #273036;
	display: block;
	padding-top: 26px;
}

.footer {
	width: 1000px;
	margin: 0 auto;
}

.footer ul {
	display: inline-block;
    width: 14%;
    padding: 0;
    margin-right: 1.8%;
    text-align: left;
    vertical-align: top;
}

.footer ul:first-child {
    width: 17%;
    margin-right: 5.8%;
}

.footer ul li {
	color: rgba(255,255,255,.4);
	list-style: none;
	line-height: 1.1;
	margin-bottom: 12px;
}

.footer ul li:first-child {
	color: #ccc;
	font-size: 18px;
	padding-bottom: 16px;
}

.footer ul li a {
	color: rgba(255,255,255,.4);
}

.footer ul li a:hover {
	color: #fff;
}

.footer .copyright {
	color: rgba(255,255,255,.6);
	font-size: 12px;
	padding: 12px 0;
	margin-top: 36px;
	border-top: 0.5px solid rgba(255,255,255,.4);
}

/* 表格样式1 */
.area-layout {
	width: 920px;
	margin: 0 auto;
	border-radius: 6px;
}

.area-layout ul {
	display: inline-block;
    width: 100%;
    padding: 0;
    margin-right: 1.8%;
}

.area-layout ul li {
    width: 30%;
	float: left;
	height: 180px;
	margin: 14px 1.6%;
	list-style: none;
	text-align: center;
	border-radius: 8px;
}

.area-layout ul li a {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 8px;
	transition: all .2s;
	box-shadow: 0 3px 5px 0 rgba(95,101,105,.15);
}

.area-layout ul li a:hover {
	transform: translateY(-2px);
    box-shadow: 0 6px 10px 0 rgba(95,101,105,.15);
}

/* 表格样式2 */
.area-zswd {
	width: 920px;
	margin: 0 auto;
	border-radius: 6px;
}

.area-zswd .zswd-end {
	border-bottom: 0;
}

.zswd-row {
	width: 100%;
	height: 100%;
	color: #222;
	font-size: 16px;
	line-height: 1.6;
	display: inline-flex;
	padding: 12px 0;
	border-bottom: 1px dotted #ccc;
}

.zswd-left {
	color: #fff;
	float: left;
	height: 42px;
	min-width: 42px;
	font-size: 13px;
	text-align: center;
	background-color: #409eff;
	border-radius: 10px;
	line-height: 43px;
	user-select: none;
}

.zswd-right {
	float: left;
	margin-left: 20px;
	text-align:justify;
	word-wrap:break-word;
	word-break:break-all;
}

.zswd-right p {
	font-size: 14px;
	display: inline;
}

.zswd-title {
	display: inline;
}

.zswd-title span {
	color: sienna;
    font-weight: bold;
}

/* 表单验证信息 */
label.error {
  background:url("../../../../image/v-error.png") no-repeat 0px 0px;
  padding: 0 0 2px 18px;
  font-weight: bold;
  color: rgb(253,107,109);
  font-size: 14px;
  margin: 6px 0 0 4px;
  display: block;
  line-height: 16px;
}

.required-tip {
	color: rgb(253,107,109);
	display: inline-block;
	margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* 背景颜色 */
.bg-color1 {
	background-color: rgb(97,213,109);
}

.bg-color2 {
	background-color: rgb(249,128,119);
}

.bg-color3 {
	background-color: rgb(255,205,67);
}

.bg-color4 {
	background-color: rgb(64,158,255);
}

.bg-color5 {
	background-color: rgb(238,194,126);
}
